<h2><%= t('view.operations.title') %></h2>
<% @operation_masters.each do |operation_master| %>
	<% if operation_master.editable == 0 %>
		<% next %>
	<% end %>
	<%= form_tag({ :controller => 'operation_masters', :action => 'update', :project_id => @project }, :method => :post) do %>
		<div class="issue">
			<input type="hidden" name="operation_master[id]" value="<%= operation_master.id %>" />
			<h3>
				<span class="operation_master editable" data-id="<%= "ops#{operation_master.id}" %>" data-name="operation_master[content]"><%= operation_master.content %></span>
			</h3>
			<hr>
			<div style="padding: 5px 0">
				<strong><%= t('view.operations.config.tasks') %></strong>
				<div style="float: right">
					<span class="icon icon-time-add"></span>
					<%= t('view.operations.config.estimatedHours') %>: <span class="editable inline" data-id="<%= "ops#{operation_master.id}_eh" %>" data-name="operation_master[estimated_hours]" ><%= operation_master.estimated_hours.present? ? operation_master.estimated_hours : '0.0'  %></span>
				</div>
			</div>
			<table class="list tasks">
				<thead>
				<tr>
					<th class="checkbox" style="width: 15px">
						<%= link_to image_tag('toggle_check.png'), {}, {} %>
					</th>
					<th style="width: 30px">
						#
					</th>
					<th><%= t('view.operations.list.task') %></th>
				</tr>
				</thead>
				<tbody>
				<% operation_master.task_master.each_with_index do |task, i| %>
					<% if task.editable == 0 %>
						<% next %>
					<% end %>
					<tr data-task-id="<%= task.id %>">
						<td class="checkbox">
							<input type="checkbox" class="edit_check" />
						</td>
						<td style="width: 30px">
							<%= task.id %>
							<input type="hidden" name=""<%= "task_master[#{task.id}][id]" %>" value="<%= task.id %>" />
						</td>
						<td style="text-align: left">
							<span class="editable" data-id="<%= "ops#{operation_master.id}_task#{task.id}" %>" data-name="<%= "task_master[#{task.id}][content]" %>"><%= task.content %></span>
						</td>
					</tr>
				<% end %>
				<tr>
					<td class="checkbox"></td>
					<td style="width: 30px">
						<span class="icon icon-add add-task" data-ops-id="<%= operation_master.id %>"></span>
					</td>
					<td>
					</td>
				</tr>
				</tbody>
			</table>
			<a class="icon icon-del delete-task"><%= t('view.operations.config.delete') %></a>
			<hr/>
			<strong><%= t('view.operations.config.schedule') %></strong>
			<div class="datepicker" data-operation-id="<%= operation_master.id %>" data-date="<%= @date[operation_master.id] %>">
				<input type="hidden" name="operation_date" />
			</div>
		</div>
		<a class="icon icon-save save"><%= t('view.operations.config.save') %></a>
		<%= link_to t('view.operations.config.delete'), {:controller => 'operation_masters', :action => 'delete', :operation_master_id => operation_master.id}, {:class => 'icon icon-del'} %>
	<% end %>
	<hr/>

<% end %>
<%= link_to t('view.operations.config.addOperation'), {:controller => 'operation_masters', :action => 'add', :project_id => @project.id}, {:class => 'icon icon-add'} %>

<%= stylesheet_link_tag 'redmine-operation.css', :plugin => 'redmine_operations', :media => 'all' %>
<%= javascript_include_tag 'jquery.redmine-operation.js', :plugin => 'redmine_operations' %>
<%= javascript_include_tag 'jquery.multi-selectable-calender.js', :plugin => 'redmine_operations' %>
<%= javascript_include_tag 'jquery.editable.js', :plugin => 'redmine_operations' %>

<% content_for :sidebar do %>
	<h3><%= t('view.operations.config.title') %></h3>
	<%= form_tag({ :controller => 'operation_masters', :action => 'update_config', :project_id => @project }, :method => :post) do %>
		<div>
			<p><%= t('view.operations.config.tracker') %></p>
			<select name="tracker_id">
				<option></option>
				<% @trackers.each do |tracker| %>
					<% if @operation_config.present? && tracker.id == @operation_config.tracker_id %>
						<option value="<%= tracker.id %>" selected="selected"><%= tracker.name %></option>
					<% else %>
						<option value="<%= tracker.id %>"><%= tracker.name %></option>
					<% end %>
				<% end %>
			</select>
			<p><%= t('view.operations.config.activity') %></p>
			<select name="activity_id">
				<option></option>
				<% @activities.each do |activity| %>
					<% if @operation_config.present? && activity.id == @operation_config.activity_id %>
						<option value="<%= activity.id %>" selected="selected"><%= activity.name %></option>
					<% else %>
						<option value="<%= activity.id %>"><%= activity.name %></option>
					<% end %>
				<% end %>
			</select>
			<p><%= t('view.operations.config.inProgress') %></p>
			<select name="progress_status_id">
				<option></option>
				<% @issue_statuses.each do |issue_status| %>
					<% if @operation_config.present? && issue_status.id == @operation_config.progress_status_id %>
						<option value="<%= issue_status.id %>" selected="selected"><%= issue_status.name %></option>
					<% else %>
						<option value="<%= issue_status.id %>"><%= issue_status.name %></option>
					<% end %>
				<% end %>
			</select>
			<p><%= t('view.operations.config.done') %></p>
			<select name="done_status_id">
				<option></option>
				<% @issue_statuses.each do |issue_status| %>
					<% if @operation_config.present? && issue_status.id == @operation_config.done_status_id %>
						<option value="<%= issue_status.id %>" selected="selected"><%= issue_status.name %></option>
					<% else %>
						<option value="<%= issue_status.id %>"><%= issue_status.name %></option>
					<% end %>
				<% end %>
			</select>
		</div>
		<a class="icon icon-save save"><%= t('view.operations.config.save') %></a>
	<% end %>
<% end %>